body {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 10px 0;
    padding: 0;
}

.header, .hero {
    background-color: #1f2937;
}

.header-logo, .hero-title, .hero-button {
    color: #f9faf8;
}

.header-link, .hero-text, .hero-button {
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    padding: 48px 96px;
    justify-content: flex-end;
    gap: 24px;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 900;
}

.header-link {
    text-decoration: none;
}

.hero {
    display: flex;
    padding: 48px 96px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.hero-right {
    margin-left: auto;
}

.hero-button {
    background-color: #3882f6;
}

.hero-image {
    width: 500px;
    object-fit: contain;
}
