body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    padding: 48px 96px;
    justify-content: flex-end;
    gap: 24px;
}

.header-logo {
    font-weight: 900;
    margin-right: auto;
    color: white;
}

.header-link {
    color: white;
    text-decoration: none;
}